html,
body{
  @extend %title;
}
.container-one{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  font-size: 48px;
  @extend %title;
  @extend %montserrat-700;
}

.popup-bg,
.popup-bg__discount{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 101;
  display: none;
  @extend %openSans-400;
}

.popup__discount{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 450px;
  background: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 20px;
  padding-top: 40px;
  transform: translate(-50%, -50%);
  text-align: center;
  .popup__form-textarea{
    height: 90px;
  }
}

.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  background: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 20px;
  padding-top: 40px;
  transform: translate(-50%, -50%);
  text-align: center;
  &__input{
    margin-right: 20px;
  }
  &__title{
    margin-bottom: 15px;
    font-size: 32px;
  }
  &__form-label{
    margin-bottom: 20px;
    font-size: 18px;
    color: #000;
    .label__box{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__form-input,
  &__form-textarea{
    margin-bottom: 20px;
    width: 300px;
    padding: 5px 15px;
    border: none;
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    outline: none;
    &::placeholder{
      color: #000;
      font-size: 18px;
    }
  }
  &__form-textarea{
    resize: none;
    height: 100px;
  }
  &__form-btn{
    border: none;
    background: linear-gradient(94.36deg, #8C12BC 6.48%, #F148E9 98.5%);
    color: #fff;
    font-size: 18px;
    padding: 5px 15px;
    cursor: pointer;
  }
}
.close-popup{
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.no-scroll{
  overflow-y: hidden;
}

.popup-form__bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 101;
  display: none;
}
.popup-form{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  background: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 20px;
  padding-top: 40px;
  transform: translate(-50%, -50%);
  text-align: center;
  &__title{
    margin-bottom: 15px;
    font-size: 32px;
    color: red;
  }
}
.contacts__massage {
  display: none;
  align-items: center;
  border: solid 1px #ddd;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.contacts__massage.active ~ * {
  opacity: 1;
  filter: blur(20px); 
}

.contacts__massage img{
  width: 90px;
}

.contacts__info{
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0;
}

.contacts__info-text{
  font-size: 14px;
  color: #000000; 
  margin-bottom: 0;
}