%montserrat-700{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}
%montserrat-500{
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}
%montserrat-400{
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}
%openSans-700{
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}
%openSans-400{
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%title{
  color: #3F1456;
}
$title-color: #3F1456;