@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global'; 

.header{
  background-image: url(../images/bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-top{
  position: relative;
  z-index: 100;
  width: 100%;
  background: #FFF;
  color: #333333;
  &__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  }
  &__box{
    display: flex;
    align-items: center;
  }
  .menu{
    &__btn{
      display: none;
    }
    &__list{
      display: flex;
      align-items: center;
      @extend %montserrat-400;
    }
    &__item{
      padding: 0 5px;
      margin-right: 55px;
      font-size: 18px;
      line-height: 22px;
      &:hover{
        padding-bottom: 10px; 
        border-bottom: 3px solid #FD749B;
      }   
    }
    &__item-link{
      @extend %title;
      @extend %montserrat-700;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #333
    }
    &__item-number{
      width: 160px;
      font-weight: 900;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }
    &__item-number--link{
      color: #333333;
    }
    &__btn-link{
      background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
      border-radius: 100px;
      padding: 15px 30px;
      color: #fff;
      height: 54px;
      @extend %montserrat-500;
      z-index: 10;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;


text-align: center;
    }
  }
}

.header-content{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    /*  background: url(../images/HEADER.png);
    background-size: cover;
    background-repeat: no-repeat; 
    width: 957px;
    height: 638px;
    left: 621px;*/
    z-index: 0;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    margin-top: 30px;
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 91px;
    color: #FFF;
  }
  &__subtitle{
    margin-top: 30px;
    font-size: 18px;  
    @extend %openSans-400;
    z-index: 2;
    font-family: 'Lobster', cursive;
    max-width: 400px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    color: #FFF;
  }
  &__btn{
    @extend %openSans-400;
    margin-top: 100px;
    margin-left: 70px ;
    background: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    color: #3F1456;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  &__timer{
    z-index: 10;
    position: relative;
  }
  #timerd3c2c8aabe11c8f1909f81e71691b198{
    margin: 0 !important; 
  }
}

.about{
  &__inner{
    position: relative;
  }
  &__img{
    position: absolute;
    top: 10%;
    right: 600px;
    transform: translateY();
    z-index: -1;
    width: 500px;
    height: 500px;
  }
  &__content{
    padding: 71px 0 95px;
    width: 570px;
    animation-duration: 2s;
  }
  &__title{
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 65px;

    transform: translateX(100%);
  }
  &__text{
    font-size: 20px;
    line-height: 26px;
    @extend %openSans-400;
    margin-bottom: 30px;
    transform: translateX(100%);
  }
  &__text-bold{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    @extend %openSans-700;
    transform: translateX(100%);
  }
  ul.about__list{
    list-style-image: url(../images/list-style.svg);
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 30px;
    @extend %openSans-400;
    transform: translateX(100%);
  }
}

.benefit{
  background: url('../images/benefit.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  &__title{
    @extend %montserrat-400;
    padding: 38px 0 32px;
    margin-bottom: 25px;
    font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 41px;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 70px;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #FFFFFF; 
  }
  &__item{
    padding-top: 115px;
    width: 280px;
    text-align: center;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 98px;
      height: 98px;
      top: 0;
      left: 90px;
    }
  }
  &__item-title{
    line-height: 25px;
    font-size: 18px;
    @extend %openSans-700;
  }
  &__item-subtitle{
    font-size: 18px;
    @extend %openSans-400;
  }
  &__item-one{
    &::before{
      background-image: url(../images/about-one.svg);
    }
  }
  &__item-two{
    &::before{
      background-image: url(../images/about-two.svg);
    }
  }
  &__item-three{
    &::before{
      background-image: url(../images/about-three.svg);
    }
  }
  &__item-four{
    &::before{
      background-image: url(../images/about-four.svg);
    }
  }
  &__item-fife{
    &::before{
      background-image: url(../images/about-fife.svg);
    }
  }
}

.promotion{
  padding: 15px 0;
  &__title{
    font-size: 48px;
    @extend %montserrat-400;
    margin-bottom: 35px;
  }
  &__text{
    font-size: 18px;
    @extend %openSans-400;
    line-height: 28px;
    margin-bottom: 30px;
  }
  &__text-black{
    @extend %openSans-700;
    font-size: 18px;
    line-height: 28px;
  }
  ul.promotion__list{
    margin-top: 25px;
    padding-left: 225px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/promotion-list.svg);
      height: 543px;
      width: 176px;
      left: 0;
    }
  }
  &__list-title{
    font-size: 18px;
    margin-bottom: 10px;
    @extend %openSans-700;
  }
  &__list-text{
    font-size: 18px;
    margin-bottom: 35px;
    @extend %openSans-400;
  }
}

.price{
  background-color: #FAF3FF;
  &__inner{
    padding: 110px 0 120px;
    background-image: url(../images/price-bg.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }
  &__title{
    padding-left: 100px;
    margin-bottom: 30px;
  }
  &__item{
    padding-left: 100px;
    @extend %openSans-400;
  }
  &__text{
    font-size: 18px;
    margin-bottom: 35px;
  }
  &__item-title{
    font-size: 24px;
    line-height: 32px;
  }
  ul.price__item-list{
    list-style: disc;
    padding-left: 20px;
  }
  &__list-item{
    font-size: 18px;
  }
  &__items{
    position: relative;
    .slick-prev,
    .slick-next{
      border: none;
      background-color: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .slick-prev{
      left: 0; 
      z-index: 6;
    }
    .slick-next{
      right: 0;
    }
  }
  .slick-dots{
    padding-left: 100px;
    display: flex;
    position: relative;
    margin-top: 220px;
    button{
      border: none;
      background-color: transparent;
      font-size: 0;
      margin-right: 10px;
      width: 13px;
      height: 13px;
      background: #C4C4C4;
      border-radius: 50%;
    }
  }
  .slick-active button{
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    background-color: transparent;
  }
}

.paket-tabs__content-item{
  display: none;
  &.paket-tabs__content-item--active{
    display: block;
  }
}

.paket {
  &__title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 0 auto 10px;

    &::after {
      display: block;
      content: '';
      width: 50px;
      height: 10px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background-color: rgba(253, 116, 155, 1);
      margin: 0 auto;
    }
  }

  &__text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #333;
    font-weight: 100;
  }

  &__inner{
    padding: 20px 0 30px;
  }
}
.paket-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  max-width: 80%;
  margin: auto;
  $self: &;

  &__item {
    background-color: #fff;
    width: 465px;
    border: double 2px transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white), linear-gradient(#888888, #888888);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: background-image .4s ease-in-out, transform .4s ease-in-out, opacity .4s ease-in-out;
    opacity: .4;
    position: relative;

    &:hover {
      background-image: linear-gradient(white, white), linear-gradient(rgba(253, 116, 155, 1), rgba(40, 26, 200, 1));
      transform: scale(1.2);
      opacity: 1;
      z-index: 2;

      #{$self}__from {
        color: rgba(151, 73, 177, 1);
      }

      #{$self}__price-new {
        color: rgba(253, 116, 155, 1);
      }

      #{$self}__price-old {
        color: rgba(151, 73, 177, 1);
      }

      #{$self}__title {
        color: #3F1456;
      }

      #{$self}__feature {
        color: #000000;
      }

      #{$self}__more {
        background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
      }
    }
  }

  &__item-body {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pricing {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
  }

  &__from {
    display: flex;
    align-items: center;
    color: #888888;
    font-weight: bold;
    margin-right: 15px;
    transition: color .4s ease-in-out;
  }

  &__price-new {
    color: #888888;
    font-size: 24px;
    font-weight: bold;
    transition: color .4s ease-in-out;
  }

  &__price-old {
    color: #888888;
    font-weight: bold;
    font-size: 24px;
    text-decoration: 1px dashed;
    transition: color .4s ease-in-out;
  }

  &__title {
    font-family: 'Poppins', sans-serif;
    color: #888888;
    font-weight: 100;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    transition: color .4s ease-in-out;
  }

  &__img {
    width: 49px;
    height: 49px;
  }

  &__feature {
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-weight: normal;
    transition: color .4s ease-in-out;
    width: 50%;
    margin-top: 5px;
  }

  &__more {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    background: #888888;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #ffffff;
    padding: 13.75px 60.35px;
    border: 0;
    cursor: pointer;
    margin-top: 17px;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 1000px;
  padding: 210px 0;
  margin-bottom: 340px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  &__heading {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    width: 250px;
    
    &::after {
      display: block;
      content: '';
      width: 60px;
      height: 5px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      margin: 11px auto 0;
      background-color: rgba(253, 116, 155, 1);
    }
  }

  &__bubbles {
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: -1;
  }

  &__bubble {
    position: absolute;
  }

  &__top-left-bubble {
    top: 15%;
    left: 10%;
  }

  &__bottom-right-bubble {
    bottom: 15%;
    right: 10%;
  }

  &__comment {
    background-color: rgba(196, 196, 196, .5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 17px 49px;
    position: absolute;
    top: 29rem;
    left: 57rem;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 38px;
      height: 30px;
      top: 35%;
      left: -38px;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 10px solid rgba(196, 196, 196, .5);
    }

    &-client {
      font-family: 'Poppins', sans-serif;
      color: #333;
      font-size: 14px;
      font-weight: 100;
    }

    &-rank {
      display: flex;
      margin-bottom: 5px;

      &-star {
        margin-right: 5px;
      }
    }

    &-title {
      font-family: 'Poppins', sans-serif;
      color: #333;
      font-size: 12px;
      font-weight: bold;
    }

    &-text {
      font-family: 'Poppins', sans-serif;
      color: #333;
      font-size: 12px;
    }
  }

  &__phones {
    position: absolute;
    bottom: -25%;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-phone-1  {
    margin-right: 20px;
  }
}

.partners{
  background: #9d47d3;
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list-item{
    margin: 0 20px;
  }
}

.contacts{
  &__inner{
    display: flex;
    padding: 50px 0 70px;
    align-items: center;
  }
  &__content{
    max-width: 570px;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(rgba(253, 116, 155, 1) ,rgba(40, 26, 200, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 27px;
    
    &::after {
      display: block;
      content: '';
      width: 50px;
      height: 5px;
      background: rgba(253, 116, 155, 1);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      margin-top: 31px;
    }
  }
  &__text{
    font-size: 18px;
    text-align: left;
    margin-bottom: 30px;
    @extend %openSans-400;
  }
  &__form{
    display: flex;
    flex-direction: column;
  }
  &__input{
    border: none;
    padding: 10px 20px 10px 0;
    border-bottom: 2px solid #3F1456;
    margin-bottom: 30px;
    width: 100%;

    &::placeholder{
      @extend %openSans-400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 3.70909px;
    }
  }
  &__textarea{
    border: none;
    padding: 10px 15px 100px 0;
    border-bottom: 2px solid #3F1456;
    margin-bottom: 30px;
    resize: none;
    &::placeholder{
      @extend %openSans-400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 3.70909px;
    }
  }
  &__btn{
    border: none;
    height: 45px;
    background: linear-gradient(90deg, #9718C0 22.17%, #E53CDD 100%);
    color: #fff;
    font-size: 18px;
    line-height: 15px;
    @extend %montserrat-700;
    cursor: pointer;
  }
}
.map{
  width: 100%;
  iframe{
    width: 100%;
  }
}

.info{
  padding: 100px 0;
  &__title{
    font-size: 48px;
    @extend %montserrat-400;
    margin-bottom: 20px;
    span{
      font-weight: 700;
    }
  }
  &__subtitle{
    font-size: 24px;
    @extend %montserrat-700;
    margin-bottom: 30px;
  }
  &__list-item{
    margin-bottom: 20px;
    height: 136px;
    padding-left: 130px;
    position: relative;
    font-size: 18px;
    @extend %montserrat-400;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/check.svg);
      width: 136px;
      height: 136px;
      left: 0;
      top: -25px;
    }
  }
}

.footer{
  background-color: #151515;
  padding: 70px 75px;

  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 27px;
  }

  &__heading {
    color: #fff;
    margin-bottom: 27px;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
  }

  &__links {
    &-list {
      font-family: 'Poppins', sans-serif;

      &-item {
        margin-bottom: 10px;

        a {
          color: #A2A2A2;
        }
      }
    }
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
  }

  &__wrapper-link{
    font-family: 'Poppins', sans-serif;
    color: #A2A2A2;
    font-size: 18px;
  }

  &__text{
    color: #fff;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 100;
    line-height: 22px;
    font-size: 14px;
  }
  &__social{
    color: #fff;
    font-size: 22px;
  }
  &__social-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 200px;
  }
  &__link{
    margin-left: 30px;
  }
}

.wrapper {
  color:#98927C;
  font-size:14px;
  line-height:24px;
  // max-width:600px;
  overflow:hidden;
}

.tabs {
  li {
    list-style:none;
    float:left;
    width:10%;
  }
  a {
    display:block;
    text-align:center;
    text-decoration:none;
    position:relative;
    color:#fff;
    height:70px;
    line-height:90px;
    background:linear-gradient(165deg,transparent 29%, #dad3bb 30%);
    @extend %montserrat-400;
    &:hover, &.active {
       background: linear-gradient(165deg,transparent 29%, #FAF3FF 30%);
       @extend %title;
       font-size: 18px;
       font-weight: 700;
    }
    
    &:before{
      content:'';
      position:absolute;
      z-index:11;
      left:100%;
      top:-100%;
      height:70px;
      line-height:90px;
      width:0;
      border-bottom: 70px solid rgba(0,0,0,.1);
	    border-right: 7px solid transparent;
    }
    &.active:before{
      content:'';
      position:absolute;
      z-index:11;
      left:100%;
      top:-100%;
      height:70px;
      line-height:90px;
      width:0;
      border-bottom: 70px solid rgba(0,0,0,.2);
	    border-right: 20px solid transparent;
    }
    // &:last-child:before, &.active:last-child:before{
    //   border: none;
    // }
  }
}
.tabgroup {
  box-shadow:2px 2px 2px 2px rgba(0,0,0,.1);;
  div {
    padding:30px;
    background:#FAF3FF;
    box-shadow:0 3px 10px rgba(0,0,0,.3);
  }
  h2{
    @extend %title;
    font-size: 26px;
    margin-bottom: 20px;
    @extend %montserrat-400;
  }
  p{
    color: #000;
    font-size: 18px;
    line-height: 28px;
    @extend %montserrat-400;
  }
  ul{
    // list-style: none;
    @extend %montserrat-400;
    li{
      color: #000;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}



@import 'media';