
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^flash\-pro\.by$ [OR]
RewriteCond %{HTTP_HOST} ^www\.flash\-pro\.by$
RewriteRule ^/?$ "https\:\/\/flash\-pro\.by\/" [R=301,L]

