@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
html {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:focus {
  color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: calc(100vw - 15%);
    max-width: 1800px;
  }
}
@media screen and (max-width: 768px) {
  .display-md-block {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .display-md-block {
    display: block;
  }
}

.dropdown {
  transform: scaleY(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: center top;
}
@media screen and (min-width: 992px) {
  .dropdown {
    position: absolute;
    top: 85%;
  }
  .dropdown .dropdown__list {
    display: flex;
    flex-direction: column;
  }
}
.dropdown-parent__text::after {
  display: inline-block;
  content: "";
  background-image: url("../img/arrow-down.svg");
  width: 25px;
  height: 15px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
  transition: transform 0.5s ease-in-out;
}
.dropdown-parent--active .dropdown-parent__text::after {
  transform: rotate(180deg);
}
.dropdown--active {
  transform: scaleY(1);
}
.dropdown--active .dropdown__list-item {
  display: block;
}
.dropdown__list-item {
  display: none;
}

.header {
  padding: 10px;
  background: transparent;
  width: 100vw;
  position: fixed;
  max-width: 1920px;
  height: 120px;
  z-index: 1488;
}
.header--active {
  height: 100vh;
  background: conic-gradient(from 180deg at 50% 42.86%, #001A6C -44.94deg, #723A2C 134.25deg, #001A6C 312.9deg, #001A6C 315.06deg, #723A2C 494.25deg);
}
.header--active .header__nav {
  opacity: 1;
  transform: scaleY(1);
}
.header__logo {
  width: 100px;
  height: 70px;
}
@media screen and (min-width: 992px) {
  .header__logo {
    margin-left: 100px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    background: none;
    height: auto;
    display: flex;
    position: absolute;
  }
  .header .header__nav {
    opacity: 1;
    transform: scaleY(1);
    margin: 0 30px;
    width: 100%;
  }
}
.header__nav {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
  transition: opacity 0.5s ease-in-out;
}
.header__nav .nav-list {
  margin-top: 20px;
}
.header__nav .nav-list__item {
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}
.header__nav .nav-list__text {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 18px;
}
.header__nav .nav-list__dropdown {
  left: 28%;
}
.header__nav .nav-list__dropdown .nav-list__item {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  width: auto;
}
.header__nav .nav-list__dropdown .nav-list__text {
  color: #cecece;
}
.header__nav .nav-list__dropdown .nav-list__text::after {
  display: none;
}
@media screen and (min-width: 992px) {
  .header__nav .nav-list {
    display: flex;
    align-items: center;
  }
  .header__nav .nav-list__item {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
  }
  .header__nav .nav-list__text {
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
}
.header .header__toggle {
  height: 32px;
  width: 43px;
  margin: 3%;
  position: absolute;
  top: 10px;
  right: 3%;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
}
.header .header__toggle span {
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}
.header .header__toggle::before, .header .header__toggle::after {
  content: "";
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.header .header__toggle::before {
  top: 2px;
  margin-top: -2px;
}
.header .header__toggle::after {
  bottom: 2px;
  margin-bottom: -2px;
}
.header .header__toggle--active span {
  background: transparent;
}
.header .header__toggle--active::before {
  top: 50%;
  transform: rotate(45deg);
}
.header .header__toggle--active::after {
  bottom: 50%;
  transform: rotate(-45deg);
}
@media screen and (min-width: 992px) {
  .header .header__toggle {
    display: none;
  }
}

.footer {
  background: conic-gradient(from 180deg at 50% 42.86%, #001A6C -44.94deg, #723A2C 134.25deg, #001A6C 312.9deg, #001A6C 315.06deg, #723A2C 494.25deg);
  padding: 40px;
}
.footer__bottom {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
}
.footer .contacts {
  border-bottom: 1px solid #fff;
}
.footer .contacts__block {
  margin-bottom: 10px;
}
.footer .contacts__block .contacts-address__text {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .footer .contacts {
    display: flex;
    justify-content: space-between;
  }
  .footer .contacts__block {
    width: 314px;
  }
}
.footer__nav {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.footer__nav-list {
  width: 210px;
  margin-right: 40px;
}
.footer__nav-list li > a {
  font-family: "Montserrat", sans-serif;
  text-wrap: normal;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease-in-out;
}
.footer__nav-list li > a:hover {
  color: #fff;
}
.footer__nav-heading a {
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 16px;
  color: #fff !important;
  margin-bottom: 10px;
}
.footer__symbols {
  margin-top: 20px;
}
.footer__symbols .symbols {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.footer__symbols .symbols__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 320px;
}
.footer__symbols .symbols__img {
  width: 118px;
  height: 118px;
}
.footer__symbols .symbols__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__symbols .symbols {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    border-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .footer__symbols {
    border-right: 1px solid #fff;
    margin-bottom: 10px;
  }
  .footer__symbols .symbols__block {
    width: 24%;
  }
}
.footer__socials .socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-between;
}
.footer__socials .socials__link {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__socials .socials {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer__socials .socials__link {
    width: 50px;
    height: 50px;
    display: flex;
    margin-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  .footer__socials {
    width: 40%;
    max-width: 485px;
  }
  .footer__socials .socials {
    height: 100%;
    padding: 20px;
  }
}
.footer__copyright {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .footer__top {
    margin-bottom: 60px;
  }
  .footer__bottom {
    display: flex;
    margin-top: 0;
  }
  .footer__link {
    text-align: center;
  }
}

.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  transform-style: preserve-3d;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  outline: none;
  position: relative;
  visibility: hidden;
}

.splide.is-initialized, .splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  outline: none;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__slider {
  position: relative;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide--draggable > .splide__slider > .splide__track, .splide--draggable > .splide__track {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splide--fade > .splide__slider > .splide__track > .splide__list, .splide--fade > .splide__track > .splide__list {
  display: block;
}

.splide--fade > .splide__slider > .splide__track > .splide__list > .splide__slide, .splide--fade > .splide__track > .splide__list > .splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.splide--fade > .splide__slider > .splide__track > .splide__list > .splide__slide.is-active, .splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide--ttb.is-active > .splide__slider > .splide__track > .splide__list, .splide--ttb.is-active > .splide__track > .splide__list {
  display: block;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow:hover {
  opacity: 0.9;
}

.splide__arrow:focus {
  outline: none;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 1em;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  transition: transform 0.2s linear;
  width: 8px;
}

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination__page:focus {
  outline: none;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide--nav > .splide__slider > .splide__track > .splide__list > .splide__slide, .splide--nav > .splide__track > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide--nav > .splide__slider > .splide__track > .splide__list > .splide__slide.is-active, .splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}

.splide--nav > .splide__slider > .splide__track > .splide__list > .splide__slide:focus, .splide--nav > .splide__track > .splide__list > .splide__slide:focus {
  outline: none;
}

.splide--rtl > .splide__arrows .splide__arrow--prev, .splide--rtl > .splide__slider > .splide__track > .splide__arrows .splide__arrow--prev, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide--rtl > .splide__arrows .splide__arrow--prev svg, .splide--rtl > .splide__slider > .splide__track > .splide__arrows .splide__arrow--prev svg, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide--rtl > .splide__arrows .splide__arrow--next, .splide--rtl > .splide__slider > .splide__track > .splide__arrows .splide__arrow--next, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide--rtl > .splide__arrows .splide__arrow--next svg, .splide--rtl > .splide__slider > .splide__track > .splide__arrows .splide__arrow--next svg, .splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide--ttb > .splide__arrows .splide__arrow, .splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow, .splide--ttb > .splide__track > .splide__arrows .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide--ttb > .splide__arrows .splide__arrow--prev, .splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow--prev, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
  top: 1em;
}

.splide--ttb > .splide__arrows .splide__arrow--prev svg, .splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow--prev svg, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide--ttb > .splide__arrows .splide__arrow--next, .splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow--next, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide--ttb > .splide__arrows .splide__arrow--next svg, .splide--ttb > .splide__slider > .splide__track > .splide__arrows .splide__arrow--next svg, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide--ttb > .splide__pagination, .splide--ttb > .splide__slider > .splide__pagination {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}

.splide {
  width: 100%;
  display: flex;
  justify-content: center;
}
.splide__arrow {
  transition: opacity 0.5s ease-in-out;
  background: none;
}
.splide__arrow::after {
  display: block;
  content: "";
  padding: 17px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #cecece;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.splide__arrow:hover::after {
  opacity: 0.9;
}
.splide__arrow--next {
  right: 5em;
}
.splide__arrow--prev {
  left: 5em;
}
.splide__track {
  max-height: 100%;
}
.splide__img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .splide__track {
    max-width: none;
  }
}

.section-title {
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 40px;
  color: #fff;
  margin-bottom: 47px;
}
.section-title--colored {
  color: #2D61E5;
}

.affiche {
  background: conic-gradient(from 180deg at 50% 42.86%, #001A6C -44.94deg, #723A2C 134.25deg, #001A6C 312.9deg, #001A6C 315.06deg, #723A2C 494.25deg);
  padding: 47px 0;
}
.affiche .splide {
  position: relative;
}
.affiche .splide__track {
  width: 80%;
}
.affiche .splide__arrow--next {
  right: 0;
}
.affiche .splide__arrow--prev {
  left: 0;
}
.affiche .splide__slide img {
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.affiche .splide__slide:hover {
  cursor: pointer;
}
.affiche .splide__slide:hover img {
  filter: blur(2px);
  transform: scale(1.1);
}

.ad {
  background-color: #EAEAEA;
}
.ad__no-ad {
  font-family: "Montserrat-ExtraBold", sans-serif;
  font-size: 46px;
  text-align: center;
  padding: 56px 0;
}
@media screen and (min-width: 992px) {
  .ad__no-ad {
    font-size: 86px;
  }
}

.banner {
  background-color: #000;
}
.banner__slider {
  margin: auto;
  max-width: 1920px;
  height: 540px;
}
@media screen and (min-width: 768px) {
  .banner__slider {
    height: 1080px;
  }
}
.banner__slider-arrow {
  background: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .banner__slider-arrow {
    display: block;
  }
}
.banner__slider-track {
  height: 100%;
}
.banner__slider-slide {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .banner__slider-slide {
    justify-content: center;
  }
}
.banner__slider-img {
  position: absolute;
  z-index: -1;
  width: auto;
}
.banner__slider-title {
  font-family: "Montserrat-ExtraBold", sans-serif;
  color: #fff;
  padding: 20px 10px 0;
}
@media screen and (min-width: 768px) {
  .banner__slider-title {
    font-size: 48px;
    padding: 0 30px 0 150px;
  }
}
@media screen and (min-width: 992px) {
  .banner__slider-title {
    font-size: 66px;
  }
}
.banner__slider-subtitle {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 0 10px 20px;
}
@media screen and (min-width: 768px) {
  .banner__slider-subtitle {
    font-size: 24px;
    padding: 0 30px 0 150px;
  }
}
@media screen and (min-width: 992px) {
  .banner__slider-subtitle {
    font-size: 38px;
  }
}

.for-visitors {
  background: conic-gradient(from 180deg at 50% 42.86%, #001A6C -44.94deg, #723A2C 134.25deg, #001A6C 312.9deg, #001A6C 315.06deg, #723A2C 494.25deg);
  padding: 80px 0;
}
.for-visitors__title {
  font-size: 40px;
}
.for-visitors__body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.for-visitors__item {
  perspective: 30px;
  width: 100% !important;
  transition: transform 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .for-visitors__item {
    width: 340px !important;
  }
}
.for-visitors__item-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}
.for-visitors__image {
  position: absolute;
  z-index: 0;
  width: 320px;
  max-height: 100%;
  height: 500px !important;
}
.for-visitors__item-title {
  font-size: 25px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: "Montserrat-ExtraBold", sans-serif;
  margin-left: 15px;
  margin-bottom: 15px;
}

.newsletter {
  background-color: #2D61E5;
  padding: 30px 0;
}
.newsletter__body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .newsletter__body {
    flex-direction: row;
  }
}
.newsletter__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.newsletter__column:first-child {
  align-items: start;
}
@media screen and (min-width: 992px) {
  .newsletter__column {
    justify-content: center;
  }
  .newsletter__column:first-child {
    width: 40%;
  }
}
.newsletter__title {
  color: #fff;
  font-family: "Montserrat-ExtraBold", sans-serif;
  margin-bottom: 10px;
}
.newsletter__subtitle {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
.newsletter__email {
  color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: 0;
  font-family: "Montserrat", sans-serif;
  padding: 14px 11px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.84);
}
@media screen and (min-width: 992px) {
  .newsletter__email {
    position: relative;
    right: 120px;
    font-size: 25px;
    padding: 22px 28px;
  }
}
.newsletter__email-submit {
  font-family: "Montserrat-ExtraBold", sans-serif;
  padding: 18px 18px;
  background-color: #898989;
  color: #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .newsletter__email-submit {
    position: absolute;
    right: 0;
    margin-top: 0;
    font-size: 22px;
    padding: 25px 28px;
  }
}